body {
    /* background :rgb(41, 88, 96); */
    /* border: solid; */
    /* width: 90vw; */

    /* background: rgb(39,89,88); */
    /* background-image: linear-gradient(52deg, rgba(39, 89, 88, 1) 34%, rgba(31, 128, 126, 1) 54%, rgba(62, 255, 212, 1) 100%); */
    background-color: cadetblue;
}

form {
    background-color: rgba(16, 169, 229, 0.196);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 50vw;
    /* border: solid 1px; */
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.196);
    border-radius: 15px;
    

}

div {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;


}

label::after {
    background: none !important;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="file"],
input[type="file"]::file-selector-button,
select,
textarea {

    background: none !important;

}